@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*animation*/
@-webkit-keyframes loader {
  100% {
    opacity: 0%;
    z-index: -10;
  }
}
@keyframes loader {
  100% {
    opacity: 0%;
    z-index: -10;
  }
}
@-webkit-keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes heart {
  100% {
    opacity: 0;
  }
}
@keyframes heart {
  100% {
    opacity: 0;
  }
}
/*BASE*/
body {
  font-family: "Roboto";
  display: grid;
  width: 100%;
  margin: auto;
}
body h1 {
  font-family: "Shrikhand";
}
body h2 {
  padding-left: 2%;
  font-size: 1.8em;
}

.loader {
  background-color: #f1f1f17c;
  width: 100%;
  height: 100%;
  position: fixed;
  transition: 1s;
  -webkit-animation: loader 2s;
          animation: loader 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.loader__spinner {
  border: solid #f3f3f300 10px;
  border-top: solid #9356DC 10px;
  border-bottom: solid #9356DC 10px;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 1s linear infinite;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

header {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  /*box-shadow: 0px 4px  5px #292929;*/
  padding: 2% 2% 2% 2%;
  height: 3em;
  align-items: center;
}
header .header__content {
  display: flex;
  justify-content: center;
}
header .header__content--logo {
  margin: auto;
  grid-column: 2/3;
  width: 15em;
}
header .header__index {
  display: none;
}
header .header__arrow {
  font-size: 3em;
  color: black;
  text-decoration: none;
}

footer {
  background: #313131;
  color: #f9fafa;
  padding: 30px 30px;
  font-size: 1.3em;
  font-weight: bold;
}
footer #footer__logo {
  font-family: "Shrikhand";
  color: #ffffff;
  margin: 0rem 0rem 1rem 0rem;
  font-size: 2rem;
  font-weight: normal;
}
footer .footer__texte {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer__icon {
  margin-right: 15px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}

/*PAGE D'ACCEUL*/
#localisation {
  background: #dadada;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
#localisation .map {
  margin-right: 1.6em;
}

#Explorer {
  background: #f1f1f1f6;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 110%;
  padding: 0 2em 4em 2em;
}
#Explorer h2 {
  margin-bottom: 0em;
}
#Explorer__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  text-align: center;
}
#Explorer__bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  width: 16em;
  margin: auto;
  border-radius: 60px;
  box-shadow: 1px 1px 12px #c1c7c7;
  font-size: 1.3em;
}
#Explorer__bouton:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 1px 1px 12px #8b8f8f;
}

/*partie fonctionnement*/
.Fonctionnement {
  margin: 7em 0 5em 0;
  padding-top: 2%;
}
.Fonctionnement h2 {
  margin-bottom: 2em;
}
.Fonctionnement__display {
  display: flex;
  flex-direction: row;
}
.Fonctionnement__content {
  display: flex;
  height: 6em;
  width: 77%;
  max-width: 23em;
  border-radius: 23px;
  padding: 5px;
  background: #f1f1f1f6;
  box-shadow: 1px 1px 12px #c1c7c7;
  margin: auto;
  margin-bottom: 60px;
  font-weight: bold;
}
.Fonctionnement__content:hover {
  background: #dbaee9f6;
}
.Fonctionnement__content:hover i {
  color: #9356DC;
}
.Fonctionnement__content--number {
  display: flex;
  justify-content: center;
  background: #9356DC;
  align-items: center;
  /* display: flex; */
  width: 68px;
  height: 68px;
  border-radius: 41px;
  color: white;
  margin-left: -46px;
}
.Fonctionnement__content--text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  margin-left: 20%;
}
.Fonctionnement__content--text i {
  margin-left: -2.5em;
  color: #757575;
}
.Fonctionnement__content--text .txtfonc {
  margin-left: 2em;
}

/*carte des différent restaurant*/
.Restaurant {
  background: #f1f1f1f6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 1fr 1fr;
}
.Restaurant #Restaurant__grid--1 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.Restaurant #Restaurant__grid--2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.Restaurant #Restaurant__grid--3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.Restaurant #Restaurant__grid--4 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.Restaurant .Restaurant__link {
  text-decoration: none;
  color: black;
}

.Restaurant__content {
  height: 14em;
  width: 85%;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 1px 1px 12px #C1C7C7;
  margin: auto;
  margin-bottom: 4%;
}
.Restaurant__content:hover {
  background: #f5f5f5;
  box-shadow: 1px 1px 12px #C1C7C7;
}
.Restaurant__content:hover .Restaurant__content--hearts .heartless {
  background: #f5f5f5;
}
.Restaurant__content--new {
  display: flex;
  justify-content: flex-end;
}
.Restaurant__content--new .new__bloc {
  background-color: #9ce2d1;
  color: #195a4a;
  padding: 0.5rem;
  border-radius: 0.2rem;
  position: absolute;
  margin: 1em 1em 0em 0em;
}
.Restaurant__content .bloc__content {
  display: flex;
  justify-content: space-between;
}
.Restaurant__content--img {
  width: 100%;
  height: 130px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  margin: auto;
}
.Restaurant__content--text {
  padding-left: 2%;
}
.Restaurant__content--text h3 {
  margin-bottom: -3%;
  margin-top: 7%;
}
.Restaurant__content--hearts {
  display: flex;
  align-items: center;
  font-size: 2em;
  padding-right: 4%;
}
.Restaurant__content--hearts .heartless {
  color: #a5a5a5f6;
  font-weight: lighter;
  position: absolute;
  background: #ffffff;
}
.Restaurant__content--hearts .heart_hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -ms-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.Restaurant__content--hearts:hover .heartless {
  -webkit-animation: heart 0.5s;
          animation: heart 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.Restaurant__content--hearts:hover .heart_hover {
  display: block;
}

/*PAGE RESTAURANT*/
.background__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 30em;
  width: 100%;
}

/*bouttons menu*/
.menu {
  background: #f1f1f1;
  padding: 1% 4% 1%;
  border-radius: 2rem 2rem 0rem 0rem;
  margin-top: -3rem;
}
.menu__titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5em;
}
.menu__titre #menu__titre--icon, .menu__titre #menu__titre--icon2 {
  font-size: 1em;
  margin-right: -1em;
}
.menu__titre .heartless {
  background: #f1f1f1;
}
.menu .delay1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.menu .delay2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.menu .delay3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.menu__select {
  display: flex;
  box-shadow: 1px 1px 12px #C1C7C7;
  height: 2.5em;
  flex-direction: row;
  padding: 1em;
  background: white;
  border-radius: 1em;
  margin-bottom: 5%;
  overflow: hidden;
  -webkit-animation: apparition 0.8s ease-out;
          animation: apparition 0.8s ease-out;
}
.menu__select:hover .menu__select--check {
  margin-right: -1.2em;
}
.menu__select:hover .icon__check {
  transform: rotate(360deg);
}
.menu__select--titre {
  margin: 0%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menu__select--titre h4, .menu__select--titre p {
  margin: 0rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__select p {
  margin: 0%;
}
.menu__select--prix {
  display: flex;
  justify-content: flex-end;
  margin: 0%;
  align-items: flex-end;
}
.menu__select--check {
  background-color: #99E2D0;
  height: 6.7em;
  width: 4.7em;
  margin: -2.1em -6em 0em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
}
.menu__select--check i {
  color: #fcfcfc;
  font-size: 1.8em;
  transition-duration: 0.5s;
}

.bouton__commander {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  width: 13em;
  height: 3.5em;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 6em;
  border-radius: 60px;
  box-shadow: 1px 1px 12px #c1c7c7;
  font-size: 1em;
}

/*BREACKPOINT 1 : TABLETTE*/
@media screen and (max-width: 1290px) {
  .Fonctionnement {
    padding-top: 2%;
    font-size: 0.8em;
  }
  .Fonctionnement h2 {
    font-size: 1.9em;
  }
  .Fonctionnement__display {
    display: flex;
    flex-direction: column;
  }
  .Fonctionnement__content {
    width: 75%;
    max-width: 80em;
  }
  .Fonctionnement__content--number {
    width: 50px;
    height: 50px;
    margin-left: -2em;
  }
  .Fonctionnement__content--text {
    margin: auto;
  }
  .Fonctionnement__content--text .txtfonc {
    margin-left: 1em;
  }
}
/*BREACKPOINT 2 : MOBILE*/
@media screen and (max-width: 767px) {
  body {
    font-size: 1.1em;
  }
  body h2 {
    padding-left: 7%;
    font-size: 1.4em;
  }

  header .header__content--logo {
    width: 10em;
  }

  header .header__arrow {
    margin-left: 1em;
    font-size: 1.5em;
  }

  /*page d'acceuil*/
  #localisation {
    font-size: 1em;
    font-weight: lighter;
  }

  #Explorer {
    padding: 0 2em 2em 2em;
  }
  #Explorer__text {
    font-size: 1.1em;
  }
  #Explorer__bouton {
    font-size: 1em;
  }

  .Fonctionnement {
    padding-top: 2%;
    font-size: 0.7em;
  }
  .Fonctionnement h2 {
    font-size: 1.9em;
  }
  .Fonctionnement__display {
    display: flex;
    flex-direction: column;
  }
  .Fonctionnement__content {
    width: 75%;
    max-width: 38em;
  }
  .Fonctionnement__content--text i {
    margin-left: -2em;
  }
  .Fonctionnement__content--number {
    width: 50px;
    height: 50px;
    margin-left: -2em;
  }
  .Fonctionnement__content--text .txtfonc {
    margin-left: 1em;
    margin-right: -1em;
  }

  .Restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1em;
  }
  .Restaurant__content {
    height: 14em;
    width: 85%;
  }
  .Restaurant__content--text p {
    font-weight: lighter;
  }
  .Restaurant__content--text h3 {
    font-weight: bold;
  }
  .Restaurant__content--text {
    padding-left: 4%;
  }
  .Restaurant__content--img {
    height: 66%;
  }

  /*page restau*/
  .background__image {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    max-height: 18rem;
    width: 100%;
  }

  .menu {
    margin-top: -4rem;
  }
}
@media screen and (max-width: 460px) {
  .menu__select {
    padding: 5%;
    max-width: 20em;
  }
}/*# sourceMappingURL=stylesheet.css.map */